<div class="container">
  <h1>About John Moran</h1>

  <ul>
    <li>
      I've been working with Angular and React professionally, both for over 2
      years.
    </li>
    <li>
      I'm always learning and building some kind of web app when I'm not working
      for a company
    </li>
    <li>
      My last job was actually working for a FinTech company that sell
      insurance, like wefox.
    </li>
    <li>
      I live in Barcelona I'm currently training for the Madrid marathon, so I
      quite enjoy running.
    </li>
  </ul>

  <p>
    I hope you enjoy this little app and are able to give me some feedback,
    regards John Moran.
  </p>

  <p>Email: johnnymoran44@hotmail.com</p>
  <p>Tel: +34 695966706</p>
  <p>
    <a href="https://jpm.netlify.com" target="_blank" style="color: #ffffff"
      >My Website</a
    >
  </p>
</div>
