<div class="container">
  <h1>About this app</h1>

  <h2>Things to Impress</h2>
  <ul>
    <li>
      I used docker-compose.yml to lauch the docker api you made and I put this
      Angular app as a docker container. But you can just run this Angular app
      using ng-serve, but you will need to run the api server locally to get
      data back in the calls.d
    </li>
    <li>
      I used Angular Material Components because I like them and they're easy to
      use
    </li>
    <li>I used the REST API calls of POST, PUT, GET, REMOVE</li>
    <li>Click the city image toggles the size</li>
    <li>Using Reactive forms to auto populate the Edit forms</li>
  </ul>

  <p style="text-decoration: underline">Some things I struggled with:</p>
  <p>
    1) Hiding my API key with Angular, normally I use <b>.dotenv</b> and
    <b> process.env.API_KEY</b>
    name, but with Angular it seems we can't do that. Then I had problems trying
    to use the netlify environment variables in my Angular app. The end I am
    exposing my Google map api key, not good I know, but I'm running out of time
    as I want to send this test within the 5 dyas.
  </p>
  <p>
    2) Netlify with Docker: it turns out we cannot deploy Docker environments to
    Netlify, I guess this makes sense, but I didn't actually know that until
    today :D
  </p>
  <p>
    3) Unfortunately I ran out of time to do some real Unit tests or End2End
    tests but I managed to get karma working and fix a bug that was breaking the
    .spec files from showing in the results, so there is one really basic test
    to see that Karma does work.
  </p>
</div>
