table {
  width: 100%;
}

.top-title {
  display: flex;
}

.add-button {
  margin: 0 0 20px 20px;
  button {
    padding: 0 16px 0 8px;
  }
}

.map {
  width: 200px;
  height: 100px;
}

.city-header {
  width: 100px;
}
.city-name {
  width: 100px;
  position: relative;
}
.body {
  position: relative;
  padding: 20px;
  width: 300px;
}

.content-header {
  padding-left: 20px;
}
